# sf testing book

> use this to test salesforce.py

In [ ]:
#| default_exp test_sf_1

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
# import salesforce as SF
# import salesforce_old as SF
import doubledot.crema_sf as SF
import jmespath as jp
import json
import pandas as pd
from nbdev.showdoc import *
from fastcore.basics import patch
    
from fastcore.test import test_eq

In [ ]:
# test_eq("dog","cat")

AssertionError: ==:
dog
cat

In [ ]:
sf = SF.Salesforce()

In [ ]:
sf.sf_access_token

'00D8Y000001RMKv!AQwAQOHa92zdhbVEwNgt6unFKNj_RJxGl2OALpgriUkXaDsRI2c435aYt19zIycv0K8x9CUogx9Z9qJIzZnDVAu6PmFQh97p'

In [ ]:
sf.test_token()

True

In [ ]:
sf.get_sf_object_ids()

total number of objects =  15

['0038Y00003bx8WPQAY',
 '0038Y00003bx8WQQAY',
 '0038Y00003bx8WRQAY',
 '0038Y00003bx8WUQAY',
 '0038Y00003bx8WVQAY',
 '0038Y00003bx8WWQAY',
 '0038Y00003bx8WXQAY',
 '0038Y00003bx8WYQAY',
 '0038Y00003bx8WZQAY',
 '0038Y00003bx8WaQAI',
 '0038Y00003bx8WcQAI',
 '0038Y00003bx8WdQAI',
 '0038Y00003bx8WeQAI',
 '0038Y00003bx8WfQAI',
 '0038Y00003bx8WgQAI']

In [ ]:
atms = SF.ATMS_api()

NameError: name 'SF' is not defined

In [ ]:
atms.telus_access_token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyMjUiLCJqdGkiOiJmNTU4MmRmOS00MDg2LTQ1ODgtODVkNC01ZGM4ZTI0ZTVhNmQiLCJpYXQiOjE2ODM0Mzc2MTEsInJFeHAiOjE2ODM2NTM2MTEsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL25hbWUiOiJ3ZWJ1c2VyIiwibmJmIjoxNjgzNDM3NjExLCJleHAiOjE2ODM0NzM2MTEsImlzcyI6ImxvY2FsaG9zdCIsImF1ZCI6IkFUTVMrIn0.AG2bGGxqOUJLjJWfEQ2SYmF_bTQAB2n_188R4ODDtZs'

## Get ATMS Objects

In [ ]:
# get memberships data
atms.write_obj_to_file('memberships',initial_offset=59_000, max_offset=60_000)
atms.write_obj_to_file('contacts', initial_offset=450_000, max_offset=451_000)
atms.write_obj_to_file('items')


# atms.write_obj_to_file('sales', initial_offset=450_000, max_offset=451_000)

Writing to file:  atms_memberships.json
max_offset:  60000
offset:  59000
offset:  59000
http://crm-api-telus.atmsplus.com/api/memberships?offset=59000&count=1000

## clean ATMS data and load into atms.obj_d

In [ ]:
atms.clean_data_file('contacts')
atms.load_data_file_to_dict('contacts')
print(atms.obj_d.keys())
# atms.obj_d['contacts'][:3]

Cleaning file:  atms_contacts.json
Writing file:  atms_transformed_contacts.json
Loading file:  atms_transformed_contacts.json
dict_keys(['contacts'])

In [ ]:
atms.clean_data_file('memberships')
atms.load_data_file_to_dict('memberships')
print(atms.obj_d.keys())
# atms.obj_d['memberships'][:3]

Cleaning file:  atms_memberships.json
Writing file:  atms_transformed_memberships.json
Loading file:  atms_transformed_memberships.json
dict_keys(['contacts', 'memberships'])

In [ ]:
"""[
  {
    "membershipId": 0,
    "memberSince": "2023-05-02T21:47:29.055Z",
    "updateDate": "2023-05-02T21:47:29.055Z",
    "membershipTerms": [
      {
        "membershipTermId": 0,
        "membershipKey": 0,
        "effectiveDate": "2023-05-02T21:47:29.055Z",
        "expiryDate": "2023-05-02T21:47:29.055Z",
        "membershipType": "string",
        "upgradeFromTermKey": 0,
        "giftMembership": true,
        "refunded": true,
        "saleDetailKey": 0,
        "itemKey": 0,
        "membershipMembers": [
          {
            "membershipMemberId": 0,
            "membershipTermKey": 0,
            "cardNumber": 0,
            "membershipNumber": "string",
            "cardStatus": "string",
            "contactKey": 0,
            "displayName": "string"
          }
        ]
      }
    ]
  }
]
"""

'[\n  {\n    "membershipId": 0,\n    "memberSince": "2023-05-02T21:47:29.055Z",\n    "updateDate": "2023-05-02T21:47:29.055Z",\n    "membershipTerms": [\n      {\n        "membershipTermId": 0,\n        "membershipKey": 0,\n        "effectiveDate": "2023-05-02T21:47:29.055Z",\n        "expiryDate": "2023-05-02T21:47:29.055Z",\n        "membershipType": "string",\n        "upgradeFromTermKey": 0,\n        "giftMembership": true,\n        "refunded": true,\n        "saleDetailKey": 0,\n        "itemKey": 0,\n        "membershipMembers": [\n          {\n            "membershipMemberId": 0,\n            "membershipTermKey": 0,\n            "cardNumber": 0,\n            "membershipNumber": "string",\n            "cardStatus": "string",\n            "contactKey": 0,\n            "displayName": "string"\n          }\n        ]\n      }\n    ]\n  }\n]\n'

## create ``Memberships[]`` csv file

In [ ]:
## requires that atms.obj_d['memberships'] is loaded
## we make this for bulk insert into salesforce
assert atms.obj_d['memberships']

mem_s = "[].{membershipId__c: membershipId, \
    memberSince__c: memberSince, \
    updateDate__c: updateDate}"

# make membership members table
dict_l = jp.search(mem_s, atms.obj_d['memberships'])
with open('memberships.csv', 'w') as f:
    f.write('\t'.join(dict_l[0].keys()) + '\n') # header
    for d in dict_l:
        f.write('\t'.join([str(v) for v in d.values()]) + '\n')

## create ``Memberships[].membershipTerms`` csv file

In [ ]:
## requires that atms.obj_d['memberships'] is loaded
## we make this for bulk insert into salesforce

# make membership term table
# we use a hack of inserting _1_ into the membershipKey__r field name to get around the fact that jmespath won't allow a dot in a field name
assert atms.obj_d['memberships']

memTerm_s = "[:50].membershipTerms[].{membershipTermId__c: membershipTermId,\
membershipKey__r_1_membershipId__c:membershipKey,\
effectiveDate__c:effectiveDate,\
expiryDate__c:expiryDate,\
membershipType__c:membershipType,\
upgradeFromTermKey__c:upgradeFromTermKey,\
giftMembership__c:giftMembership,\
refunded__c:refunded,\
saleDetailKey__c:saleDetailKey,\
itemKey__c:itemKey}"
dict_l = jp.search(memTerm_s, atms.obj_d['memberships'])
with open('membership_terms.csv', 'w') as f:
    # hack to create header with a dot in it, jmespath won't do it
    f.write('\t'.join([s.replace('_1_','.') for s in dict_l[0].keys()]) + '\n') # header
    for d in dict_l:
        #changed this to not write None for empty values, eg "" for null and false (a default value)
        f.write('\t'.join([str(v) if v else "" for v in d.values()]) + '\n')

In [ ]:
with open('test.json', 'w') as f:
    f.write(json.dumps(dict_l[:5], indent=4))

In [ ]:
with open('test.json', 'r') as f:
    test = json.load(f)


## create ``Memberships[].membershipTerms[].membershipMembers[]`` csv file

In [ ]:
## requires that atms.obj_d['memberships'] is loaded
## we make this for bulk insert into salesforce

# make membership term table
# we use a hack of inserting _1_ into the membershipKey__r field name to get around the fact that jmespath won't allow a dot in a field name
assert atms.obj_d['memberships']

memMembers_s = "[].membershipTerms[].membershipMembers[].{membershipMemberId__c:membershipMemberId,\
membershipTermKey__r_1_membershipTermId__c:membershipTermKey,\
cardNumber__c:cardNumber,\
membershipNumber__c:membershipNumber,\
cardStatus__c:cardStatus,\
contactKey__c:contactKey,\
displayName__c:displayName}"

# make membership members table
dict_l = jp.search(memMembers_s, atms.obj_d['memberships'])
with open('membership_members.csv', 'w') as f:
    f.write('\t'.join([s.replace('_1_','.') for s in dict_l[0].keys()]) + '\n') # header
    # f.write('\t'.join(dict_l[0].keys()) + '\n') # header
    for d in dict_l:
        f.write('\t'.join([str(v) for v in d.values()]) + '\n')

## make dataframes for membership, membership terms, and membership members, and contacts

In [ ]:
members_df = pd.read_csv('membership_members.csv', sep='\t') 
membershipTerms_df = pd.read_csv('membership_terms.csv', sep='\t')
membership_df = pd.read_csv('memberships.csv', sep='\t')

atms.load_data_file_to_dict(obj_s='contacts')
contacts_df = pd.DataFrame(atms.obj_d['contacts'])
contacts_df.dtypes

Loading file:  atms_transformed_contacts.json

contactId                  int64
contactType               object
username                  object
createdDate               object
updateDate                object
emailOptIn                object
mailOptIn                 object
phoneOptIn                object
contactIndividualKey       int64
firstName                 object
lastName                  object
middleName                object
birthDate                 object
contactOrganizationKey     int64
organizationName          object
addresses                 object
alerts                    object
contactTypes              object
emails                    object
faxes                     object
phones                    object
dtype: object

### merge membership and membershipTerms

In [ ]:
membership_df.merge(membershipTerms_df, how='right', left_on='membershipId__c', right_on='membershipKey__r.membershipId__c')

,membershipId__c,memberSince__c,updateDate__c,membershipTermId__c,membershipKey__r.membershipId__c,effectiveDate__c,expiryDate__c,membershipType__c,upgradeFromTermKey__c,giftMembership__c,refunded__c,saleDetailKey__c,itemKey__c
0,63858,2022-04-08T00:00:00,2022-04-08T09:36:20.833,118562,63858,2022-04-08T09:36:20.833,2023-04-08T23:59:59,Family Membership,NaN,NaN,NaN,6786878,NaN
1,63859,2022-04-08T00:00:00,2022-04-08T11:01:54.557,118563,63859,2022-04-08T00:00:00,2023-04-08T23:59:59,Family Membership,NaN,NaN,NaN,6787098,NaN
2,63860,2022-04-08T00:00:00,2022-04-08T11:26:38.99,118564,63860,2022-04-08T00:00:00,2023-04-08T23:59:59,Family Membership,NaN,NaN,NaN,6787144,NaN
3,63861,2022-04-08T00:00:00,2022-04-08T13:08:30.02,118565,63861,2022-04-08T00:00:00,2023-04-08T23:59:59,Adult Membership,NaN,NaN,NaN,6787346,NaN
4,63862,2022-04-08T00:00:00,2022-04-08T13:14:33.093,118566,63862,2022-04-08T00:00:00,2023-04-08T23:59:59,Family Membership,NaN,NaN,NaN,6787366,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,63905,2022-04-10T00:00:00,2022-04-10T08:48:52.163,118623,63905,2022-04-10T08:48:52.163,2023-04-10T23:59:59,Child Membership,NaN,NaN,NaN,6789534,NaN
58,63906,2022-04-10T00:00:00,2022-04-10T09:18:25.853,118624,63906,2022-04-10T09:18:25.853,2023-04-10T23:59:59,Family Membership,NaN,NaN,NaN,6789550,NaN
59,63906,2022-04-10T00:00:00,2022-04-10T09:18:25.853,129579,63906,2023-04-11T00:00:00,2024-04-10T23:59:59,Family Membership,NaN,NaN,NaN,7201817,NaN
60,63907,2011-12-02T00:00:00,2022-04-10T09:47:18.223,118625,63907,2022-04-10T00:00:00,2023-04-10T23:59:59,Staff Over 600 Hours,NaN,NaN,NaN,6789587,NaN
61,63907,2011-12-02T00:00:00,2022-04-10T09:47:18.223,128612,63907,2023-04-11T00:00:00,2024-04-10T23:59:59,Staff Over 600 Hours,NaN,NaN,NaN,7169579,NaN

### trying to solve problem of unmatched contacts and members usin dataframes

In [ ]:
contacts_df.contactId.max(),contacts_df.contactId.min(),members_df.loc[:,"contactKey__c"].min(),members_df.loc[:,"contactKey__c"].max(),

(499157, 498155, 8206, 535273)

### intersection of contactIds and members.contactKey__c

In [ ]:
s1 = set(contacts_df.contactId) 
s2 = set(members_df.loc[:,"contactKey__c"])
# common elements of s1 and s2
s1.intersection(s2)

{498155,
 498160,
 498161,
 498162,
 498163,
 498164,
 498165,
 498166,
 498167,
 498168,
 498169,
 498170,
 498171,
 498172,
 498173,
 498174,
 498175,
 498205,
 498206,
 498207,
 498208,
 498209,
 498210,
 498220,
 498221,
 498222,
 498223,
 498224,
 498225,
 498227,
 498229,
 498230,
 498231,
 498232,
 498233,
 498234,
 498235,
 498236,
 498237,
 498248,
 498249,
 498250,
 498251,
 498252,
 498253,
 498254,
 498255,
 498256,
 498257,
 498259,
 498261,
 498262,
 498263,
 498264,
 498265,
 498266,
 498267,
 498268,
 498273,
 498274,
 498275,
 498276,
 498277,
 498278,
 498279,
 498281,
 498282,
 498283,
 498284,
 498287,
 498288,
 498289,
 498290,
 498294,
 498295,
 498296,
 498302,
 498303,
 498304,
 498305,
 498307,
 498309,
 498310,
 498311,
 498312,
 498313,
 498317,
 498318,
 498319,
 498320,
 498321,
 498322,
 498323,
 498324,
 498338,
 498339,
 498359,
 498385,
 498386,
 498388,
 498390,
 498391,
 498392,
 498393,
 498397,
 498403,
 498404,
 498405,
 498410,
 498412,
 498413,
 498434,
 498435,
 498436,
 498437,
 498438,
 498440,
 498459,
 498460,
 498461,
 498472,
 498473,
 498500,
 498501,
 498502,
 498503,
 498504,
 498528,
 498529,
 498536,
 498537,
 498538,
 498539,
 498540,
 498541,
 498542,
 498543,
 498545,
 498546,
 498552,
 498558,
 498559,
 498560,
 498561,
 498585,
 498586,
 498593,
 498594,
 498595,
 498596,
 498597,
 498598,
 498599,
 498600,
 498601,
 498602,
 498617,
 498618,
 498619,
 498620,
 498623,
 498624,
 498625,
 498626,
 498628,
 498629,
 498637,
 498638,
 498641,
 498642,
 498643,
 498644,
 498645,
 498646,
 498647,
 498649,
 498650,
 498653,
 498654,
 498656,
 498657,
 498658,
 498659,
 498660,
 498661,
 498662,
 498663,
 498664,
 498665,
 498666,
 498668,
 498669,
 498670,
 498671,
 498672,
 498674,
 498679,
 498680,
 498681,
 498685,
 498686,
 498687,
 498688,
 498689,
 498691,
 498692,
 498693,
 498698,
 498712,
 498713,
 498714,
 498715,
 498716,
 498717,
 498718,
 498719,
 498720,
 498721,
 498728,
 498729,
 498732,
 498733,
 498734,
 498750,
 498751,
 498753,
 498757,
 498758,
 498759,
 498760,
 498763,
 498764,
 498765,
 498766,
 498768,
 498769,
 498770,
 498771,
 498773,
 498774,
 498776,
 498777,
 498778,
 498782,
 498802,
 498803,
 498805,
 498806,
 498807,
 498809,
 498810,
 498811,
 498812,
 498815,
 498816,
 498817,
 498823,
 498825,
 498826,
 498836,
 498838,
 498839,
 498840,
 498841,
 498843,
 498844,
 498845,
 498846,
 498849,
 498850,
 498851,
 498852,
 498853,
 498865,
 498873,
 498874,
 498875,
 498876,
 498885,
 498889,
 498910,
 498911,
 498912,
 498913,
 498916,
 498920,
 498921,
 498933,
 498934,
 498935,
 498936,
 498937,
 498938,
 498942,
 498951,
 498952,
 498955,
 498956,
 498958,
 498959,
 498960,
 498967,
 498968,
 498969,
 498974,
 498975,
 498977,
 498978,
 498979,
 498980,
 498981,
 498982,
 498999,
 499000,
 499001,
 499002,
 499003,
 499004,
 499005,
 499021,
 499022,
 499026,
 499027,
 499028,
 499029,
 499030,
 499032,
 499039,
 499040,
 499041,
 499042,
 499044,
 499045,
 499046,
 499048,
 499049,
 499050,
 499051,
 499059,
 499060,
 499061,
 499069,
 499070,
 499071,
 499077,
 499082,
 499083,
 499084,
 499085,
 499086,
 499087,
 499088,
 499090,
 499108,
 499109,
 499110,
 499116,
 499117,
 499118,
 499127,
 499128,
 499129,
 499130,
 499131,
 499132,
 499133,
 499141,
 499142,
 499143,
 499144,
 499148,
 499149,
 499150,
 499151,
 499152,
 499155,
 499156,
 499157}

In [ ]:
_df = members_df
_df.merge(contacts_df, left_on='contactKey__c', right_on ='contactId', how='inner')#.loc[:, contacts_df.columns]
# _df.dtypes

,membershipMemberId__c,membershipTermKey__r.membershipTermId__c,cardNumber__c,membershipNumber__c,cardStatus__c,contactKey__c,displayName__c,contactId,contactType,username,...,middleName,birthDate,contactOrganizationKey,organizationName,addresses,alerts,contactTypes,emails,faxes,phones
0,225951,118722,5,6398005,Active,498815,"Burril, Riley",498815,Individual,None,...,None,2017-06-23T00:00:00,0,None,"[{'addressId': 437875, 'contactKey': 498815, '...",[],[],"[{'emailId': 303049, 'contactKey': 498815, 'em...",[],"[{'phoneId': 622594, 'contactKey': 498815, 'ph..."
1,225130,118725,2,6398302,Active,498552,"Chang, Sindy",498552,Individual,Trudes,...,None,0001-01-01T00:00:00,0,None,"[{'addressId': 437617, 'contactKey': 498552, '...",[],[],"[{'emailId': 302790, 'contactKey': 498552, 'em...",[],"[{'phoneId': 622323, 'contactKey': 498552, 'ph..."
2,225130,128029,2,6398302,Active,498552,"Chang, Sindy",498552,Individual,Trudes,...,None,0001-01-01T00:00:00,0,None,"[{'addressId': 437617, 'contactKey': 498552, '...",[],[],"[{'emailId': 302790, 'contactKey': 498552, 'em...",[],"[{'phoneId': 622323, 'contactKey': 498552, 'ph..."
3,225586,118898,5,6410705,Active,498155,"Baksh, Arthur",498155,Individual,None,...,None,2018-02-17T00:00:00,0,None,"[{'addressId': 437237, 'contactKey': 498155, '...",[],[],"[{'emailId': 302399, 'contactKey': 498155, 'em...",[],"[{'phoneId': 621937, 'contactKey': 498155, 'ph..."
4,225587,118899,1,6410801,Active,498160,"Halliday, Summer",498160,Individual,None,...,None,1970-05-02T00:00:00,0,None,"[{'addressId': 437239, 'contactKey': 498160, '...",[],[],"[{'emailId': 302401, 'contactKey': 498160, 'em...",[],"[{'phoneId': 621969, 'contactKey': 498160, 'ph..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,226119,129672,6,6425106,Active,499152,"Wenmann, Brielle",499152,Individual,None,...,None,2019-05-02T00:00:00,0,None,"[{'addressId': 438182, 'contactKey': 499152, '...",[],[],"[{'emailId': 303375, 'contactKey': 499152, 'em...",[],"[{'phoneId': 622923, 'contactKey': 499152, 'ph..."
445,226122,119173,1,6425301,Active,499155,"Wong, Brian",499155,Individual,None,...,None,1989-01-29T00:00:00,0,None,"[{'addressId': 438183, 'contactKey': 499155, '...",[],[],"[{'emailId': 303376, 'contactKey': 499155, 'em...",[],"[{'phoneId': 622924, 'contactKey': 499155, 'ph..."
446,226123,119173,2,6425302,Active,499156,"Wong, Rachel",499156,Individual,None,...,None,1990-08-24T00:00:00,0,None,"[{'addressId': 438184, 'contactKey': 499156, '...",[],[],"[{'emailId': 303377, 'contactKey': 499156, 'em...",[],"[{'phoneId': 622925, 'contactKey': 499156, 'ph..."
447,226124,119174,1,6425401,Active,499157,"Bhattarai, Rangon",499157,Individual,None,...,None,0001-01-01T00:00:00,0,None,"[{'addressId': 438185, 'contactKey': 499157, '...","[{'alertId': 2176, 'priority': '2 - Medium', '...",[],"[{'emailId': 303378, 'contactKey': 499157, 'em...",[],"[{'phoneId': 622926, 'contactKey': 499157, 'ph..."
448,226831,119470,1,6444801,Active,498942,"Webb, Shannon",498942,Individual,Shannon Webb,...,None,0001-01-01T00:00:00,0,None,"[{'addressId': 437989, 'contactKey': 498942, '...",[],[],"[{'emailId': 303170, 'contactKey': 498942, 'em...",[],"[{'phoneId': 622719, 'contactKey': 498942, 'ph..."

In [ ]:

print('\n'.join(set(jp.search("[].membershipTerms[].membershipMembers[].cardStatus", atms.obj_d['memberships']))))

Active
Cancelled
Refunded

In [ ]:
# finde unique membershipTerm membershipTypes 
print('\n'.join(set(jp.search("[].membershipTerms[].membershipType", atms.obj_d['memberships']))))

Child Membership
Senior Membership
Grandparent Membership
Adult Membership
Staff Under 600 Hours
Staff Over 600 Hours
Multiple IMAX Fanatic Annual Movie Passes
Youth Membership
Student Membership
Individual IMAX Fanatic Annual Movie Pass
Dual Adult Membership
Family Membership

In [ ]:
# list of unique upgrade from Term Key  
print('\n'.join({str(i) for i in jp.search("[].membershipTerms[].upgradeFromTermKey", atms.obj_d['memberships'])}))

119278
119620
119728
119780
118840
119899
119915
119334
118947
119032
118591
119671
118972
120229

## upload Memberships to SF

In [ ]:
sf.create_job('Membership__c') # job_id now in sf.job_id
sf.bulk_job_id

sf.upload_csv('memberships.csv')
    
sf.close_job()
sf.job_status()
sf.failed_results()

insert {'object': 'Membership__c', 'contentType': 'CSV', 'columnDelimiter': 'TAB', 'operation': 'insert'}
{"id":"7508Y00000mUYVjQAO","operation":"insert","object":"Membership__c","createdById":"0058Y00000CIEn9QAH","createdDate":"2023-05-07T05:33:37.000+0000","systemModstamp":"2023-05-07T05:33:37.000+0000","state":"Open","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":57.0,"contentUrl":"services/data/v57.0/jobs/ingest/7508Y00000mUYVjQAO/batches","lineEnding":"LF","columnDelimiter":"TAB"}

'7508Y00000mUYVjQAO'

## upload MembershipTerm to SF

In [ ]:
sf = SF.Salesforce()
sf.create_job('MembershipTerm__c')
sf.bulk_job_id

sf.upload_csv('membership_terms.csv')
    
sf.close_job()
sf.failed_results()
sf.successful_results()
sf.job_status()
# sf.delete_sf_objects('membershipTerm__c')

AttributeError: 'Salesforce' object has no attribute 'get_salesforce_token'

## upload MembershipMembers to SF

In [ ]:
atms = SF.ATMS_api()

In [ ]:
## generate tests for all the methods

## upload a file of contacts to salesforce
## verify that all the contacts are in salesforce
## remove all contacts from salesforce

In [ ]:
_d = {
  "saleKey": "string",
  "saleAmount": "string",
  "paymentAmount": "string",
  "saleDate": "2023-05-05T00:06:52.646Z",
  "active": True,
  "terminalKey": 0,
  "ticketCount": 0,
  "eventDate": "2023-05-05T00:06:52.646Z",
  "booking": {
    "bookingId": 0,
    "bookingContactKey": 0,
    "bookingContactType": "string",
    "contactKey": 0,
    "contactIndividualKey": 0,
    "contactOrganizationKey": 0,
    "displayName": "string",
    "firstName": "string",
    "lastName": "string",
    "email": "string",
    "phone": "string"
  },
  "saleComment": "string",
  "saleDetails": [
    {
      "saleDetailId": 0,
      "saleId": 0,
      "itemKey": 0,
      "scheduleKey": 0,
      "rateKey": 0,
      "categoryKey": 0,
      "itemQuantity": 0,
      "pricingPriceKey": 0,
      "itemPrice": 0,
      "itemTotal": 0,
      "couponTotal": 0,
      "discountTotal": 0,
      "total": 0,
      "revenueDate": "2023-05-05T00:06:52.646Z",
      "refundReasonKey": 0,
      "systemPriceOverride": "string",
      "membershipTermKey": 0,
      "taxTotal": 0,
      "surchargeTotal": 0,
      "surchargeTaxTotal": 0,
      "pendingShiftKey": 0,
      "pendingTerminalKey": 0,
      "pendingDateTimeStamp": "2023-05-05T00:06:52.646Z",
      "pendingUser": "string",
      "finalStatus": 0,
      "finalShiftKey": 0,
      "finalTerminalKey": 0,
      "finalDateTimeStamp": "2023-05-05T00:06:52.646Z",
      "finalUser": "string",
      "refundQuantity": 0,
      "firstScheduleDetailKey": 0,
      "itemDescription": "string",
      "rateDescription": "string",
      "categoryDescription": "string",
      "scheduleDate": "2023-05-05T00:06:52.646Z"
    }
  ],
  "tickets": [
    {
      "ticketKey": 0,
      "saleKey": 0,
      "saleDetailKey": 0,
      "itemKey": 0,
      "itemDescription": "string",
      "itemShort": "string",
      "itemType": "string",
      "scheduleKey": 0,
      "scheduleDate": "2023-05-05T00:06:52.646Z",
      "facilityKey": 0,
      "facilityDescription": "string",
      "facilityShort": "string",
      "ticketText": "string",
      "rate": "string",
      "category": "string",
      "cancelled": "2023-05-05T00:06:52.646Z",
      "redeemed": "2023-05-05T00:06:52.646Z",
      "refunded": "2023-05-05T00:06:52.646Z",
      "isValid": True,
      "validationText": "string",
      "redeemedCount": 0,
      "ticketDetailKey": 0,
      "scheduleDetailKey": 0,
      "seats": 0,
      "seatsSold": 0,
      "totalTicketsScanned": 0,
      "scheduleEndDate": "2023-05-05T00:06:52.646Z",
      "ticketStatus": "string",
      "ticketDisplay": "string",
      "ticketSection": "string",
      "ticketRow": "string",
      "ticketSeat": "string",
      "ticketPrefix": "string",
      "active": True,
      "cancelable": True,
      "contactIndividualKey": 0,
      "individualKey": 0,
      "individualName": "string",
      "contactOrganizationKey": 0,
      "organizationKey": 0,
      "organizationName": "string",
      "reschedulable": True,
      "rescheduleLead": 0,
      "rescheduleGrace": 0,
      "rescheduleCount": 0,
      "rescheduleLimitHours": 0,
      "comment": "string",
      "transferRequestKey": 0,
      "recipientEmail": "string"
    }
  ]
}

jp.search("keys(@)",_d)

['saleKey',
 'saleAmount',
 'paymentAmount',
 'saleDate',
 'active',
 'terminalKey',
 'ticketCount',
 'eventDate',
 'booking',
 'saleComment',
 'saleDetails',
 'tickets']