# Minimal Data Salesforce Data Set
> get pertinent data for contacts 4708 119430 119431

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from doubledot import *

In [139]:
from nbdev.showdoc import *
import requests
import json
import jmespath as jp
import re
from time import sleep
from fastcore.basics import patch
import fileinput
import pandas as pd
import os
import io
from fastcore.test import test_eq
import glob
import time
import random
from pyisemail import is_email

In [4]:
atms = ATMS_api()

Directory 'atms_download' already exists.
my id is mlk31g16

In [38]:
# used this to find members with 4708 contactId ( yes, there was an easier way but not faster given time and brain capacity)
atms.retrieve_and_clean('memberships', since_date='1995-01-01', max_rows=20000)

download dir is:  /Users/josephmann/Documents/Github/doubledot/atms_download/mlk31g16
resp_d = self.get_telus_data(memberships,offset=0, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=0&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=1000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=1000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=2000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=2000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=3000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=3000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=4000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=4000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=5000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=5000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=6000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=6000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=7000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=7000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=8000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=8000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=9000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=9000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=10000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=10000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=11000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=11000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=12000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=12000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=13000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=13000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=14000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=14000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=15000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=15000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=16000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=16000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=17000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=17000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=18000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=18000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
resp_d = self.get_telus_data(memberships,offset=19000, count= 1000, since_date=1995-01-01)
ATMS_api.get_telus_data: since_date is 1995-01-01
http://crm-api-telus.atmsplus.com/api/memberships/lastupdate?count=1000&offset=19000&updateDate=1995-01-01
resp_d.keys():  dict_keys(['response', 'done'])
done: False, resp_d.json() : <Response [200]>
cleaning_data_file - download dir is:  /Users/josephmann/Documents/Github/doubledot/atms_download/mlk31g16
creating file:  /Users/josephmann/Documents/Github/doubledot/atms_download/mlk31g16/atms_transformed_memberships.json
Finished cleaning atms_memberships.json -> /Users/josephmann/Documents/Github/doubledot/atms_download/mlk31g16/atms_transformed_memberships.json
ATMS_api - Attempting to load:  /Users/josephmann/Documents/Github/doubledot/atms_download/mlk31g16/atms_transformed_memberships.json  into dict
ATMS_api: loaded 20000 memberships into dict

In [41]:
_d = atms.obj_d['memberships']

,membershipMemberId,membershipTermKey,cardNumber,membershipNumber,cardStatus,contactKey,displayName
0,30001,12179,1,00325701,Active,77975,"Dnetto, William"
1,22320,12179,3,00325703,Active,77977,"Dnetto, Justin"
2,22321,12179,4,00325704,Active,77978,"Dnetto, Kevin"
3,26813,12179,2,00325702,Active,77976,"Dnetto, Jannette"
4,26814,12180,2,00325802,Active,77980,"Tonks, Debbie"

## this is from mlk31g16

the task now... 
gets contacts from contact id list
get membership from

In [1]:
atms.obj_d['contacts']

NameError: name 'atms' is not defined

In [47]:

_l = jp.search('[]', _d)
memberships_df = pd.DataFrame(_l)[['membershipId',	'memberSince',	'updateDate'	]]
memberships_df.head()

   membershipId          memberSince              updateDate
0          3257  1999-04-25T00:00:00  2001-06-18T12:07:00.92
1          3258  1999-04-25T00:00:00  2001-06-18T12:07:00.92
2          3259  1999-04-25T00:00:00  2001-06-18T12:07:00.92
3          3260  1999-04-25T00:00:00  2001-06-18T12:07:00.92
4          3262  1999-04-28T00:00:00  2001-06-18T12:07:00.92

In [49]:
l = [	'membershipTermId',	'membershipKey',	'effectiveDate',	'expiryDate',	'membershipType',	'upgradeFromTermKey',	'giftMembership',	'refunded',	'saleDetailKey', 'itemKey']
_l = jp.search('[].membershipTerms[]', _d)
membershipTerms_df = pd.DataFrame(_l)[l]
membershipTerms_df.head()

,membershipTermId,membershipKey,effectiveDate,expiryDate,membershipType,upgradeFromTermKey,giftMembership,refunded,saleDetailKey,itemKey
0,12179,3257,1999-04-25T00:00:00,2000-04-30T23:59:59,Family Membership,NaN,False,False,NaN,7
1,12180,3258,1999-04-25T00:00:00,2000-04-30T23:59:59,Family Membership,NaN,False,False,NaN,7
2,12181,3259,1999-04-25T00:00:00,2000-04-30T23:59:59,Adult Membership,NaN,False,False,NaN,8
3,12182,3260,1999-04-25T00:00:00,2000-04-30T23:59:59,Adult Membership,NaN,False,False,NaN,8
4,11803,3262,1999-04-28T00:00:00,2000-04-30T23:59:59,Family Membership,NaN,False,False,NaN,7

In [55]:
_df = memberships_df.merge(membershipTerms_df, left_on='membershipId', right_on='membershipKey', how='inner')
total_members_df = _df.merge(members_df, left_on='membershipTermId', right_on='membershipTermKey')

In [53]:

_l = jp.search('[].membershipTerms[].membershipMembers[]', _d)
members_df = pd.DataFrame(_l)
members_df.head()

,membershipMemberId,membershipTermKey,cardNumber,membershipNumber,cardStatus,contactKey,displayName
0,30001,12179,1,00325701,Active,77975,"Dnetto, William"
1,22320,12179,3,00325703,Active,77977,"Dnetto, Justin"
2,22321,12179,4,00325704,Active,77978,"Dnetto, Kevin"
3,26813,12179,2,00325702,Active,77976,"Dnetto, Jannette"
4,26814,12180,2,00325802,Active,77980,"Tonks, Debbie"

In [58]:
pelton_df = total_members_df.loc[ total_members_df.displayName.str.contains('Pelton'),:]

In [25]:
_df.loc[_df.contactKey == 4708, :]

Empty DataFrame
Columns: [membershipMemberId, membershipTermKey, cardNumber, membershipNumber, cardStatus, contactKey, displayName]
Index: []

## Need to retrieve sales data for the contact ids above. or for the salesdetails.

In [60]:
pelton_df.contactKey.unique()

array([  4708, 119430, 119431, 144164, 144165, 144166, 144167])

## Get contact records from contact ids

In [3]:
pelton_ids = [ 4708, 119430, 119431, 144164,144165, 144166, 144167 ]

In [153]:
l = []
for contact_id in pelton_df.contactKey.unique():
    print(contact_id)
    r = atms.get_telus_data('contacts', contact_id=contact_id)
    data_d = r['response'].json()
    print(data_d)
    l.append(data_d)
    sleep(1)

4708
http://crm-api-telus.atmsplus.com/api/contacts/4708
{'contactId': 4708, 'contactType': 'Individual', 'username': None, 'createdDate': '2004-05-05T13:53:28.42', 'updateDate': '2023-01-31T12:44:09.343', 'emailOptIn': 'Y', 'mailOptIn': 'Y', 'phoneOptIn': 'N', 'contactIndividualKey': 3, 'firstName': 'Donalda', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '0001-01-01T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 35859, 'contactKey': 4708, 'addressType': 'Home', 'line1': '17607 93 Street NW', 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'Edmonton', 'postalZipCode': 'T5Z 2A6'}], 'alerts': [], 'contactTypes': [], 'emails': [{'emailId': 53622, 'contactKey': 4708, 'emailType': 'E-Mail', 'address': 'ddpelton@icloud.com'}], 'faxes': [], 'phones': [{'phoneId': 9413, 'contactKey': 4708, 'phoneType': 'Home', 'phoneNumber': '7804768945', 'extension': None}, {'phoneId': 110478, 'contactKey': 4708, 'phoneType': 'Business', 'phoneNumber': '4034529100', 'extension': None}]}
119430
http://crm-api-telus.atmsplus.com/api/contacts/119430
{'contactId': 119430, 'contactType': 'Individual', 'username': None, 'createdDate': '2005-10-18T08:38:26.797', 'updateDate': '2005-10-18T08:38:26.797', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 114123, 'firstName': 'Dan', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '0001-01-01T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 121085, 'contactKey': 119430, 'addressType': 'Home', 'line1': '17607 93 Street NW', 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'Edmonton', 'postalZipCode': 'T5Z 2A6   '}], 'alerts': [], 'contactTypes': [], 'emails': [], 'faxes': [], 'phones': [{'phoneId': 256007, 'contactKey': 119430, 'phoneType': 'Business', 'phoneNumber': '4034529100', 'extension': None}, {'phoneId': 256008, 'contactKey': 119430, 'phoneType': 'Home', 'phoneNumber': '7804768945', 'extension': None}]}
119431
http://crm-api-telus.atmsplus.com/api/contacts/119431
{'contactId': 119431, 'contactType': 'Individual', 'username': None, 'createdDate': '2002-11-29T14:47:47', 'updateDate': '2002-11-29T14:47:47', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 114124, 'firstName': 'Evan', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '1995-01-31T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 121086, 'contactKey': 119431, 'addressType': 'Home', 'line1': '17607 93 Street NW', 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'Edmonton', 'postalZipCode': 'T5Z 2A6   '}], 'alerts': [], 'contactTypes': [], 'emails': [], 'faxes': [], 'phones': [{'phoneId': 256009, 'contactKey': 119431, 'phoneType': 'Business', 'phoneNumber': '4034529100', 'extension': None}, {'phoneId': 256010, 'contactKey': 119431, 'phoneType': 'Home', 'phoneNumber': '7804768945', 'extension': None}]}
144164
http://crm-api-telus.atmsplus.com/api/contacts/144164
{'contactId': 144164, 'contactType': 'Individual', 'username': None, 'createdDate': '2006-08-03T16:08:32.313', 'updateDate': '2006-08-03T16:08:32.313', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 137810, 'firstName': 'Donna', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '0001-01-01T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 119705, 'contactKey': 144164, 'addressType': 'Home', 'line1': '96 Aspen Crescent', 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'St. Albert', 'postalZipCode': 'T8N 2L8   '}], 'alerts': [], 'contactTypes': [], 'emails': [{'emailId': 8052, 'contactKey': 144164, 'emailType': 'E-Mail', 'address': 'tdpelton@shaw.ca'}], 'faxes': [], 'phones': [{'phoneId': 254342, 'contactKey': 144164, 'phoneType': 'Business', 'phoneNumber': '7804273658', 'extension': None}, {'phoneId': 254343, 'contactKey': 144164, 'phoneType': 'Home', 'phoneNumber': '7804592956', 'extension': None}]}
144165
http://crm-api-telus.atmsplus.com/api/contacts/144165
{'contactId': 144165, 'contactType': 'Individual', 'username': None, 'createdDate': '2006-08-15T10:45:53.13', 'updateDate': '2006-08-15T10:45:53.13', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 137811, 'firstName': 'Trevor', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '0001-01-01T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 119706, 'contactKey': 144165, 'addressType': 'Home', 'line1': '96 Aspen Crescent', 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'St. Albert', 'postalZipCode': 'T8N 2L8   '}], 'alerts': [], 'contactTypes': [], 'emails': [{'emailId': 3350, 'contactKey': 144165, 'emailType': 'E-Mail', 'address': 'tdpelton@shaw.ca'}], 'faxes': [], 'phones': [{'phoneId': 254344, 'contactKey': 144165, 'phoneType': 'Business', 'phoneNumber': '7804273658', 'extension': None}, {'phoneId': 254345, 'contactKey': 144165, 'phoneType': 'Home', 'phoneNumber': '7804592956', 'extension': None}]}
144166
http://crm-api-telus.atmsplus.com/api/contacts/144166
{'contactId': 144166, 'contactType': 'Individual', 'username': None, 'createdDate': '2006-08-15T10:45:40.96', 'updateDate': '2006-08-15T10:45:40.96', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 137812, 'firstName': 'Brittany', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '1998-01-01T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 119707, 'contactKey': 144166, 'addressType': 'Home', 'line1': None, 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'St. Albert', 'postalZipCode': None}], 'alerts': [], 'contactTypes': [], 'emails': [{'emailId': 8053, 'contactKey': 144166, 'emailType': 'E-Mail', 'address': 'tdpelton@shaw.ca'}], 'faxes': [], 'phones': [{'phoneId': 254346, 'contactKey': 144166, 'phoneType': 'Business', 'phoneNumber': '7804273658', 'extension': None}, {'phoneId': 254347, 'contactKey': 144166, 'phoneType': 'Home', 'phoneNumber': '7804592956', 'extension': None}]}
144167
http://crm-api-telus.atmsplus.com/api/contacts/144167
{'contactId': 144167, 'contactType': 'Individual', 'username': None, 'createdDate': '2006-08-15T10:45:30.537', 'updateDate': '2016-12-20T12:08:48.607', 'emailOptIn': 'N', 'mailOptIn': 'N', 'phoneOptIn': 'N', 'contactIndividualKey': 137813, 'firstName': 'Garion', 'lastName': 'Pelton', 'middleName': None, 'birthDate': '2002-04-07T00:00:00', 'contactOrganizationKey': 0, 'organizationName': None, 'addresses': [{'addressId': 119708, 'contactKey': 144167, 'addressType': 'Home', 'line1': None, 'line2': None, 'line3': None, 'country': 'Canada', 'province': 'AB', 'county': None, 'city': 'St. Albert', 'postalZipCode': None}], 'alerts': [], 'contactTypes': [], 'emails': [{'emailId': 8054, 'contactKey': 144167, 'emailType': 'E-Mail', 'address': 'tdpelton@shaw.ca'}], 'faxes': [], 'phones': [{'phoneId': 254348, 'contactKey': 144167, 'phoneType': 'Business', 'phoneNumber': '7804273658', 'extension': None}, {'phoneId': 254349, 'contactKey': 144167, 'phoneType': 'Home', 'phoneNumber': '7804592956', 'extension': None}]}

In [156]:
atms.obj_d['contacts'] = l

In [162]:

# sf.delete_sf_objects('Contact')
assert 'contacts' in atms.obj_d.keys()
sf.execute_job('Contact', 'insert')

execute_job
process_contacts
Salesforce: Writing 7 'Contact' objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Contact.csv
Created job 7508Y00000nGxgPQAS for Contact with operation insert
Uploading job 7508Y00000nGxgPQAS of object Contact
job status: InProgress
Failed results:
"sf__Id"	"sf__Error"	LastName	MailingPostalCode	MailingCity	MailingStreet	MailingCountry	Phone	Email	External_Id__c

## Get `membership` data for contact_ids

In [159]:
## this works ..
first = True

with open('atms_sales/membership.json', 'w') as f:
    for contactId in pelton_df.contactKey.unique():
        print(contactId)
        r = atms.get_telus_data('memberships', contact_id=contactId)
        
        for line in r['response'].json():
            if first:
                f.write('[\n')
                first = False
            else:
                f.write(',\n')
            f.write(json.dumps(line))
        sleep(1)
    f.write('\n]')

4708
http://crm-api-telus.atmsplus.com/api/memberships/contact/4708
119430
http://crm-api-telus.atmsplus.com/api/memberships/contact/119430
119431
http://crm-api-telus.atmsplus.com/api/memberships/contact/119431
144164
http://crm-api-telus.atmsplus.com/api/memberships/contact/144164
144165
http://crm-api-telus.atmsplus.com/api/memberships/contact/144165
144166
http://crm-api-telus.atmsplus.com/api/memberships/contact/144166
144167
http://crm-api-telus.atmsplus.com/api/memberships/contact/144167

In [161]:
_d = json.load(open('atms_sales/membership.json'))
atms.obj_d['memberships'] = _d

In [163]:
assert 'memberships' in atms.obj_d.keys()
sf.delete_sf_objects('Membership__c')
sf.execute_job('Membership__c', 'insert')

sf.delete_sf_objects('MembershipTerm__c')
sf.execute_job('MembershipTerm__c', 'insert')

sf.delete_sf_objects('MembershipMember__c')
sf.execute_job('MembershipMember__c', 'insert')

Deleting Membership__c objects from Salesforce
Retrieving Object Ids for Membership__c from Salesforce
total number of objects =  0
In Salesforce.delete_sf_objects: Deleting 0 Membership__c objects using /Users/josephmann/Documents/Github/doubledot/sf_download/Membership__c.csv
execute_job
Created job 7508Y00000nGyCaQAK for Membership__c with operation delete
Uploading job 7508Y00000nGyCaQAK of object Membership__c
job status: JobComplete
Failed results:
"sf__Id"	"sf__Error"	Id

execute_job
Processing memberships data
Salesforce: Writing 11 memberships objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Membership__c.csv
Salesforce: Writing 56 membership_terms objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipTerm__c.csv
Salesforce: Writing 108 membership_members objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipMember__c.csv
Created job 7508Y00000nGyDsQAK for Membership__c with operation insert
Uploading job 7508Y00000nGyDsQAK of object Membership__c
job status: InProgress
Failed results:
"sf__Id"	"sf__Error"	membershipId__c	memberSince__c	updateDate__c
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQv:--"	"8633.0"	"2002-11-29T14:48:53.857Z"	"2002-11-29T14:46:12.950Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQw:--"	"48042.0"	"1997-04-22T00:00:00.000Z"	"2017-12-19T13:16:17.070Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQu:--"	"781.0"	"1997-04-22T00:00:00.000Z"	"2001-06-18T12:07:00.920Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQv:--"	"8633.0"	"2002-11-29T14:48:53.857Z"	"2002-11-29T14:46:12.950Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQx:--"	"12110.0"	"2005-08-19T10:24:00.670Z"	"2005-08-19T10:19:24.647Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQx:--"	"12110.0"	"2005-08-19T10:24:00.670Z"	"2005-08-19T10:19:24.647Z"
""	"DUPLICATE_VALUE:duplicate value found: membershipId__c duplicates value on record with id: a028Y00001EuDQx:--"	"12110.0"	"2005-08-19T10:24:00.670Z"	"2005-08-19T10:19:24.647Z"

Deleting MembershipTerm__c objects from Salesforce
Retrieving Object Ids for MembershipTerm__c from Salesforce
total number of objects =  0
In Salesforce.delete_sf_objects: Deleting 0 MembershipTerm__c objects using /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipTerm__c.csv
execute_job
Created job 7508Y00000nGyIDQA0 for MembershipTerm__c with operation delete
Uploading job 7508Y00000nGyIDQA0 of object MembershipTerm__c
job status: JobComplete
Failed results:
"sf__Id"	"sf__Error"	Id

execute_job
Processing memberships data
Salesforce: Writing 11 memberships objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Membership__c.csv
Salesforce: Writing 56 membership_terms objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipTerm__c.csv
Salesforce: Writing 108 membership_members objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipMember__c.csv
Created job 7508Y00000nGyIIQA0 for MembershipTerm__c with operation insert
Uploading job 7508Y00000nGyIIQA0 of object MembershipTerm__c
job status: InProgress
waiting for job to complete, try 0, status: InProgress
Failed results:
"sf__Id"	"sf__Error"	membershipTermId__c	membershipKey__r.membershipId__c	effectiveDate__c	expiryDate__c	membershipType__c	upgradeFromTermKey__c	giftMembership__c	refunded__c	saleDetailKey__c	itemKey__c
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SS:--"	"21115.0"	"8633.0"	"2002-11-29"	"2003-11-28"	"Family Membership"	""	""	""	"297233.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4ST:--"	"46500.0"	"8633.0"	"2010-02-04"	"2021-06-30"	"Family Membership"	""	""	""	"1737719.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SU:--"	"91624.0"	"48042.0"	"2018-01-01"	"2018-12-31"	"Multiple IMAX Fanatic Annual Movie Passes"	""	""	""	"5260349.0"	"2594.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SA:--"	"8776.0"	"781.0"	"2001-01-10"	"2001-12-31"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SB:--"	"16551.0"	"781.0"	"1998-12-30"	"1999-12-30"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SC:--"	"16552.0"	"781.0"	"2000-01-05"	"2001-01-04"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SD:--"	"16553.0"	"781.0"	"2000-01-07"	"2001-01-06"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SE:--"	"16554.0"	"781.0"	"1997-04-22"	"1998-04-22"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SF:--"	"16555.0"	"781.0"	"1997-12-31"	"1998-12-31"	"Staff Over 600 Hours"	""	""	""	""	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SG:--"	"19485.0"	"781.0"	"2002-03-05"	"2002-12-31"	"Staff Over 600 Hours"	""	""	""	"158229.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SH:--"	"21463.0"	"781.0"	"2003-01-13"	"2003-12-31"	"Staff Over 600 Hours"	""	""	""	"317822.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SI:--"	"23499.0"	"781.0"	"2004-01-27"	"2004-12-31"	"Staff Over 600 Hours"	""	""	""	"470299.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SJ:--"	"25779.0"	"781.0"	"2005-01-11"	"2005-12-31"	"Staff Over 600 Hours"	""	""	""	"638266.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SK:--"	"28373.0"	"781.0"	"2006-01-04"	"2006-12-31"	"Staff Over 600 Hours"	""	""	""	"820442.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SL:--"	"31776.0"	"781.0"	"2007-01-11"	"2007-12-31"	"Staff Over 600 Hours"	""	""	""	"1002300.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SM:--"	"36077.0"	"781.0"	"2008-01-01"	"2008-12-31"	"Staff Over 600 Hours"	""	""	""	"1206321.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SN:--"	"40865.0"	"781.0"	"2009-01-07"	"2009-12-31"	"Staff Over 600 Hours"	""	""	""	"1526499.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SO:--"	"46078.0"	"781.0"	"2010-01-05"	"2010-12-31"	"Staff Over 600 Hours"	""	""	""	"1726680.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SP:--"	"50525.0"	"781.0"	"2011-01-11"	"2011-12-30"	"Staff Over 600 Hours"	""	""	""	"1903070.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SQ:--"	"91626.0"	"781.0"	"2017-12-19"	"2017-12-31"	"Staff Over 600 Hours"	""	""	""	"5260354.0"	"84.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SR:--"	"102412.0"	"781.0"	"2019-03-20"	"2050-01-01"	"Lifetime Membership"	""	""	""	"5874240.0"	"1606.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SS:--"	"21115.0"	"8633.0"	"2002-11-29"	"2003-11-28"	"Family Membership"	""	""	""	"297233.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4ST:--"	"46500.0"	"8633.0"	"2010-02-04"	"2021-06-30"	"Family Membership"	""	""	""	"1737719.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SV:--"	"27514.0"	"12110.0"	"2005-08-19"	"2006-08-19"	"Family Membership"	""	""	""	"760379.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SW:--"	"30266.0"	"12110.0"	"2006-08-20"	"2007-08-20"	"Family Membership"	""	""	""	"924823.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SX:--"	"34953.0"	"12110.0"	"2007-08-20"	"2008-08-19"	"Family Membership"	""	""	""	"1147027.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SV:--"	"27514.0"	"12110.0"	"2005-08-19"	"2006-08-19"	"Family Membership"	""	""	""	"760379.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SW:--"	"30266.0"	"12110.0"	"2006-08-20"	"2007-08-20"	"Family Membership"	""	""	""	"924823.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SX:--"	"34953.0"	"12110.0"	"2007-08-20"	"2008-08-19"	"Family Membership"	""	""	""	"1147027.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SV:--"	"27514.0"	"12110.0"	"2005-08-19"	"2006-08-19"	"Family Membership"	""	""	""	"760379.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SW:--"	"30266.0"	"12110.0"	"2006-08-20"	"2007-08-20"	"Family Membership"	""	""	""	"924823.0"	"7.0"
""	"DUPLICATE_VALUE:duplicate value found: membershipTermId__c duplicates value on record with id: a038Y00002FL4SX:--"	"34953.0"	"12110.0"	"2007-08-20"	"2008-08-19"	"Family Membership"	""	""	""	"1147027.0"	"7.0"

Deleting MembershipMember__c objects from Salesforce
Retrieving Object Ids for MembershipMember__c from Salesforce
total number of objects =  0
In Salesforce.delete_sf_objects: Deleting 0 MembershipMember__c objects using /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipMember__c.csv
execute_job
Created job 7508Y00000nGyINQA0 for MembershipMember__c with operation delete
Uploading job 7508Y00000nGyINQA0 of object MembershipMember__c
job status: InProgress
Failed results:
"sf__Id"	"sf__Error"	Id

execute_job
Processing memberships data
Salesforce: Writing 11 memberships objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Membership__c.csv
Salesforce: Writing 56 membership_terms objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipTerm__c.csv
Salesforce: Writing 108 membership_members objects to /Users/josephmann/Documents/Github/doubledot/sf_download/MembershipMember__c.csv
Created job 7508Y00000nGyISQA0 for MembershipMember__c with operation insert
Uploading job 7508Y00000nGyISQA0 of object MembershipMember__c
job status: InProgress
waiting for job to complete, try 0, status: InProgress
waiting for job to complete, try 1, status: InProgress
Failed results:
"sf__Id"	"sf__Error"	membershipMemberId__c	membershipTermKey__r.membershipTermId__c	cardNumber__c	membershipNumber__c	cardStatus__c	contactKey__r.External_Id__c	displayName__c
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16551.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16552.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16553.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16554.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16555.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"19485.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"21463.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"23499.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"25779.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"28373.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"31776.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"36077.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"40865.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"46078.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"50525.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"91626.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"102412.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmf:--"	"44932.0"	"46500.0"	"1.0"	"00863301"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmg:--"	"44933.0"	"46500.0"	"2.0"	"00863302"	"Active"	"119430"	"Pelton, Dan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmh:--"	"44934.0"	"46500.0"	"3.0"	"00863303"	"Active"	"119431"	"Pelton, Evan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmf:--"	"44932.0"	"21115.0"	"1.0"	"00863301"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmg:--"	"44933.0"	"21115.0"	"2.0"	"00863302"	"Active"	"119430"	"Pelton, Dan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmh:--"	"44934.0"	"21115.0"	"3.0"	"00863303"	"Active"	"119431"	"Pelton, Evan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmf:--"	"44932.0"	"46500.0"	"1.0"	"00863301"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmg:--"	"44933.0"	"46500.0"	"2.0"	"00863302"	"Active"	"119430"	"Pelton, Dan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmh:--"	"44934.0"	"46500.0"	"3.0"	"00863303"	"Active"	"119431"	"Pelton, Evan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmi:--"	"171883.0"	"91624.0"	"1.0"	"04804201"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmj:--"	"171884.0"	"91624.0"	"2.0"	"04804202"	"Active"	"119430"	"Pelton, Dan"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"8776.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16551.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16552.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16553.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16554.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"16555.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"19485.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"21463.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"23499.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"25779.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"28373.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"31776.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"
""	"DUPLICATE_VALUE:duplicate value found: membershipMemberId__c duplicates value on record with id: a048Y00001Sobmd:--"	"31403.0"	"36077.0"	"1.0"	"00078101"	"Active"	"4708"	"Pelton, Donalda"

In [2]:
pelton_df.contactKey.unique()

NameError: name 'pelton_df' is not defined

## get Sales data for conatactIds in pelton_df and write to json file

In [68]:
## this works ..
first = True

with open('atms_sales/sales2.json', 'w') as f:
    for contactId in pelton_df.contactKey.unique():
        print(contactId)
        r = atms.get_telus_data('sales', contact_id=contactId)
        
        for line in r['response'].json():
            if first:
                f.write('[\n')
                first = False
            else:
                f.write(',\n')
            f.write(json.dumps(line))
        sleep(1)
    f.write('\n]')

4708
http://crm-api-telus.atmsplus.com/api/sales/contact/4708
119430
http://crm-api-telus.atmsplus.com/api/sales/contact/119430
119431
http://crm-api-telus.atmsplus.com/api/sales/contact/119431
144164
http://crm-api-telus.atmsplus.com/api/sales/contact/144164
144165
http://crm-api-telus.atmsplus.com/api/sales/contact/144165
144166
http://crm-api-telus.atmsplus.com/api/sales/contact/144166
144167
http://crm-api-telus.atmsplus.com/api/sales/contact/144167

## Parse JSON to dictionary

In [69]:
# worked after I stitched together the lists..
w = json.load(open('atms_sales/sales2.json', 'r'))

## Put data manually into ATMS object

In [71]:
# hacky but it works
atms.obj_d['sales'] = w

In [87]:
atms

In [147]:
sf = Salesforce()
sf.atms = atms

Directory 'atms_download' already exists.

In [148]:
sf.delete_sf_objects('Ticket__c')
sf.execute_job('Ticket__c', 'insert')

Deleting Ticket__c objects from Salesforce
Retrieving Object Ids for Ticket__c from Salesforce
total number of objects =  200
In Salesforce.delete_sf_objects: Deleting 200 Ticket__c objects using /Users/josephmann/Documents/Github/doubledot/sf_download/Ticket__c.csv
execute_job
Created job 7508Y00000nGxG6QAK for Ticket__c with operation delete
Uploading job 7508Y00000nGxG6QAK of object Ticket__c
job status: InProgress
Failed results:
"sf__Id"	"sf__Error"	Id

execute_job
Salesforce: Writing 210 'Ticket' objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Ticket__c.csv
Created job 7508Y00000nGxGBQA0 for Ticket__c with operation insert
Uploading job 7508Y00000nGxGBQA0 of object Ticket__c
job status: InProgress
waiting for job to complete, try 0, status: JobComplete
Failed results:
"sf__Id"	"sf__Error"	ticketKey__c	saleKey__r.saleKey__c	saleDetailKey__r.saleDetailId__c	itemDescription__c	ticketDisplay__c

In [ ]:
s = sf.failed_results().text
pd.read_csv( io.StringIO(s), sep='\t' )

In [142]:
sf.delete_sf_objects('SaleDetail__c')
sf.execute_job('SaleDetail__c', 'insert')

Deleting SaleDetail__c objects from Salesforce
Retrieving Object Ids for SaleDetail__c from Salesforce
total number of objects =  0
In Salesforce.delete_sf_objects: Deleting 0 SaleDetail__c objects using /Users/josephmann/Documents/Github/doubledot/sf_download/SaleDetail__c.csv
execute_job
Created job 7508Y00000nGxDbQAK for SaleDetail__c with operation delete
Uploading job 7508Y00000nGxDbQAK of object SaleDetail__c
job status: InProgress
waiting for job to complete, try 0, status: InProgress
waiting for job to complete, try 1, status: InProgress
Failed results:
"sf__Id"	"sf__Error"	Id

execute_job
Salesforce: Writing 319 'SaleDetail' objects to /Users/josephmann/Documents/Github/doubledot/sf_download/SaleDetail__c.csv
Created job 7508Y00000nGxDgQAK for SaleDetail__c with operation insert
Uploading job 7508Y00000nGxDgQAK of object SaleDetail__c
job status: InProgress
waiting for job to complete, try 0, status: InProgress
waiting for job to complete, try 1, status: InProgress
Failed results:
"sf__Id"	"sf__Error"	saleDetailId__c	itemKey__c	scheduleKey__c	rateKey__c	categoryKey__c	itemCategory__c	pricingPriceKey__c	itemPrice__c	itemTotal__c	couponTotal__c	discountTotal__c	total__c	revenueDate__c	refundReason__c	refundReasonKey__c	systemPriceOverride__c	MembershipTermKey__r.MembershipTermId__c	saleId__r.saleKey__c

In [140]:
s = sf.failed_results().text
pd.read_csv( io.StringIO(s), sep='\t' )

,sf__Id,sf__Error,saleDetailId__c,itemKey__c,scheduleKey__c,rateKey__c,categoryKey__c,itemCategory__c,pricingPriceKey__c,itemPrice__c,itemTotal__c,couponTotal__c,discountTotal__c,total__c,revenueDate__c,refundReason__c,refundReasonKey__c,systemPriceOverride__c,MembershipTermKey__r.MembershipTermId__c,saleId__c
0,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,199.0,30.0,119.0,1.0,2.0,NaN,163.0,115.00,115.00,NaN,23.0,92.00,2001-07-03,NaN,NaN,N,NaN,75
1,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,201.0,31.0,130.0,1.0,2.0,NaN,173.0,115.00,115.00,NaN,23.0,92.00,2001-08-07,NaN,NaN,N,NaN,75
2,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,14763.0,2.0,852.0,1.0,1.0,NaN,10.0,8.45,2315.30,2315.30,NaN,NaN,2001-07-24,NaN,NaN,N,NaN,6200
3,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,14764.0,4.0,3917.0,1.0,1.0,NaN,10.0,8.45,2315.30,2315.30,NaN,NaN,2001-07-24,NaN,NaN,N,NaN,6200
4,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,71113.0,166.0,6109.0,1.0,1.0,NaN,10.0,8.45,1478.75,1478.75,NaN,NaN,2001-10-05,NaN,NaN,N,NaN,28717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,3435312.0,1412.0,340806.0,1.0,1.0,NaN,13921.0,26.50,-53.00,NaN,NaN,-55.65,2013-03-26,NaN,1090.0,N,NaN,1019680
315,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,3435313.0,1412.0,340805.0,1.0,1.0,NaN,13921.0,26.50,53.00,NaN,NaN,55.65,2013-03-26,NaN,NaN,N,NaN,1019680
316,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,3435314.0,1513.0,334619.0,1.0,1.0,NaN,13394.0,13.95,27.90,27.90,NaN,NaN,2013-03-26,NaN,NaN,N,NaN,1019680
317,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,760379.0,7.0,NaN,3.0,NaN,NaN,207.0,105.00,105.00,NaN,NaN,123.05,2005-08-19,NaN,NaN,N,NaN,310928
318,NaN,MALFORMED_ID:saleId: id value of incorrect typ...,924823.0,7.0,NaN,3.0,NaN,NaN,208.0,105.00,105.00,22.25,NaN,98.32,2006-08-03,NaN,NaN,N,NaN,378568

In [117]:
sf.execute_job('Sale__c', 'insert')

execute_job
Salesforce: Writing 82 'Sales' objects to /Users/josephmann/Documents/Github/doubledot/sf_download/Sale__c.csv
Created job 7508Y00000nGwidQAC for Sale__c with operation insert
Uploading job 7508Y00000nGwidQAC of object Sale__c
job status: InProgress
Failed results:
"sf__Id"	"sf__Error"	saleKey__c	saleAmount__c	paymentAmount__c	saleDate__c	active__c	terminalKey__c	eventDate__c	booking_bookingId__c	booking_bookingContactKey__c	booking_bookingContactType__c	booking_contactKey__c	booking_contactIndividualKey__c	booking_contactOrganizationKey__c	booking_displayName__c	booking_firstName__c	booking_lastName__c	booking_email__c	booking_phone__c
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTa:--"	"75"	"184.0"	"184.0"	"2001-06-18"	"true"	"2.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTb:--"	"6200"	"0.0"	"0.0"	"2001-07-16"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTc:--"	"28717"	"0.0"	"0.0"	"2001-10-02"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTd:--"	"34334"	"0.0"	"0.0"	"2001-10-27"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTe:--"	"35028"	"0.0"	"0.0"	"2001-10-31"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTf:--"	"40631"	"0.0"	"0.0"	"2001-11-27"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTg:--"	"43312"	"115.2"	"115.22"	"2001-12-19"	"true"	"9.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTh:--"	"56118"	"0.0"	"0.0"	"2002-02-13"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTi:--"	"67460"	"0.0"	"0.0"	"2002-03-27"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTj:--"	"76798"	"0.0"	"0.0"	"2002-05-08"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTk:--"	"97233"	"0.0"	"0.0"	"2002-08-07"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTl:--"	"118107"	"96.3"	"96.3"	"2002-11-29"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTm:--"	"125229"	"144.0"	"144.0"	"2003-01-05"	"true"	"13.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTn:--"	"126546"	"0.0"	"0.0"	"2003-01-13"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTo:--"	"126636"	"0.0"	"0.0"	"2003-01-15"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTp:--"	"135105"	"0.0"	"0.0"	"2003-02-26"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTq:--"	"155257"	"80.0"	"80.0"	"2003-05-28"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTr:--"	"160299"	"208.0"	"208.0"	"2003-07-25"	"true"	"30.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTs:--"	"188385"	"0.0"	"0.0"	"2004-01-07"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTt:--"	"191062"	"0.0"	"0.0"	"2004-01-28"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTu:--"	"215799"	"328.0"	"328.0"	"2004-05-05"	"true"	"8.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTv:--"	"261227"	"0.0"	"0.0"	"2005-01-19"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTw:--"	"272107"	"194.8"	"194.8"	"2005-03-01"	"true"	"8.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTx:--"	"284297"	"0.0"	"0.0"	"2005-04-06"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTy:--"	"287048"	"0.0"	"0.0"	"2005-04-19"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QTz:--"	"290301"	"152.0"	"152.0"	"2005-05-05"	"true"	"8.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU0:--"	"313327"	"0.0"	"0.0"	"2005-08-30"	"true"	"24.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU1:--"	"314772"	"0.0"	"0.0"	"2005-09-06"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU2:--"	"319757"	"0.0"	"0.0"	"2005-10-03"	"true"	"40.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU3:--"	"326879"	"0.0"	"0.0"	"2005-11-11"	"true"	"8.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU4:--"	"328764"	"0.0"	"0.0"	"2005-11-21"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU5:--"	"339869"	"0.0"	"0.0"	"2006-02-02"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU6:--"	"349097"	"554.2"	"554.9"	"2006-03-10"	"true"	"8.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU7:--"	"350282"	"0.0"	"0.0"	"2006-03-14"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU8:--"	"359647"	"0.0"	"0.0"	"2006-04-25"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QU9:--"	"391023"	"0.0"	"0.0"	"2006-09-28"	"true"	"41.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUA:--"	"400720"	"0.0"	"0.0"	"2006-11-18"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUB:--"	"409644"	"0.0"	"0.0"	"2007-01-15"	"true"	"2.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUC:--"	"425465"	"0.0"	"0.0"	"2007-03-09"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUD:--"	"439097"	"0.0"	"0.0"	"2007-04-20"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUE:--"	"441925"	"365.0"	"365.0"	"2007-05-02"	"true"	"9.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUF:--"	"448502"	"0.0"	"0.0"	"2007-06-07"	"true"	"4.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUG:--"	"474988"	"0.0"	"0.0"	"2007-10-01"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUH:--"	"483228"	"0.0"	"0.0"	"2007-11-13"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUI:--"	"483280"	"0.0"	"0.0"	"2007-11-14"	"true"	"40.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUJ:--"	"485612"	"0.0"	"0.0"	"2007-11-29"	"true"	"9.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUK:--"	"492100"	"0.0"	"0.0"	"2008-01-08"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUL:--"	"524635"	"0.0"	"0.0"	"2008-05-28"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUM:--"	"526754"	"0.0"	"0.0"	"2008-06-11"	"true"	"9.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUN:--"	"530412"	"0.0"	"0.0"	"2008-06-18"	"true"	"15.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUO:--"	"625723"	"0.0"	"0.0"	"2008-11-03"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUP:--"	"644994"	"0.0"	"0.0"	"2009-02-09"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUQ:--"	"650539"	"0.0"	"0.0"	"2009-02-23"	"true"	"9.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUR:--"	"656937"	"0.0"	"0.0"	"2009-03-17"	"true"	"38.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUS:--"	"668110"	"2200.0"	"2200.0"	"2009-04-24"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUT:--"	"670516"	"0.0"	"0.0"	"2009-05-04"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUU:--"	"671764"	"0.0"	"0.0"	"2009-05-15"	"true"	"38.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUV:--"	"676052"	"0.0"	"0.0"	"2009-06-10"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUW:--"	"701096"	"0.0"	"0.0"	"2009-09-16"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUX:--"	"711811"	"0.0"	"0.0"	"2009-11-27"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUY:--"	"720852"	"0.0"	"0.0"	"2010-02-04"	"true"	"2.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUZ:--"	"721827"	"0.0"	"0.0"	"2010-02-10"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUa:--"	"748585"	"0.0"	"0.0"	"2010-07-12"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUb:--"	"752064"	"0.0"	"0.0"	"2010-07-28"	"true"	"10.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUc:--"	"753747"	"0.0"	"0.0"	"2010-08-05"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUd:--"	"764783"	"0.0"	"0.0"	"2010-09-23"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUe:--"	"800685"	"0.0"	"0.0"	"2011-03-22"	"true"	"11.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUf:--"	"889832"	"0.0"	"0.0"	"2012-02-23"	"true"	"30.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"FIELD_INTEGRITY_EXCEPTION:eventDate: invalid date: Sat Jan 01 00:00:00 GMT 1:eventDate__c --"	"913937"	"255.47"	"255.47"	"2012-06-11"	"true"	"3.0"	"0001-01-01"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUh:--"	"945422"	"100.0"	"100.0"	"2012-10-23"	"true"	"3.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUi:--"	"999629"	"0.0"	"0.0"	"2013-02-21"	"true"	"13.0"	"2013-02-28"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUj:--"	"1083351"	"24.33"	"24.33"	"2013-09-01"	"true"	"2.0"	"2013-09-01"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUk:--"	"1512308"	"14.65"	"14.65"	"2017-01-27"	"true"	"4.0"	"2017-01-27"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUl:--"	"1598590"	"13.61"	"13.61"	"2017-10-14"	"true"	"4.0"	"2017-10-14"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUm:--"	"1615638"	"79.0"	"79.0"	"2017-12-19"	"true"	"1.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUn:--"	"1615640"	"0.0"	"0.0"	"2017-12-19"	"true"	"1.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUo:--"	"1615641"	"0.0"	"0.0"	"2017-12-19"	"true"	"1.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUp:--"	"1615688"	"0.0"	"0.0"	"2017-12-19"	"true"	"1.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUq:--"	"1776435"	"0.0"	"0.0"	"2019-03-20"	"true"	"99.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUr:--"	"1019680"	"55.65"	"55.65"	"2013-03-24"	"true"	"15.0"	"2013-03-26"	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUs:--"	"310928"	"123.05"	"123.05"	"2005-08-19"	"true"	"4.0"	""	""	""	""	""	""	""	""	""	""	""	""
""	"DUPLICATE_VALUE:duplicate value found: saleKey__c duplicates value on record with id: a058Y00001B5QUt:--"	"378568"	"98.32"	"98.32"	"2006-08-03"	"true"	"2.0"	""	""	""	""	""	""	""	""	""	""	""	""

In [111]:
import io
s = sf.failed_results().text
pd.read_csv( io.StringIO(s), sep='\t' )

,sf__Id,sf__Error,saleKey__c,saleAmount__c,paymentAmount__c,saleDate__c,active__c,terminalKey__c,booking_bookingId__c,booking_bookingContactKey__c,booking_bookingContactType__c,booking_contactKey__c,booking_contactIndividualKey__c,booking_contactOrganizationKey__c,booking_displayName__c,booking_firstName__c,booking_lastName__c,booking_email__c,booking_phone__c
0,NaN,INVALID_FIELD:Failed to deserialize field at c...,75,184.00,184.00,2001-06-18,True,2.0,,,,,,,,,,,
1,NaN,INVALID_FIELD:Failed to deserialize field at c...,6200,0.00,0.00,2001-07-16,True,11.0,,,,,,,,,,,
2,NaN,INVALID_FIELD:Failed to deserialize field at c...,28717,0.00,0.00,2001-10-02,True,3.0,,,,,,,,,,,
3,NaN,INVALID_FIELD:Failed to deserialize field at c...,34334,0.00,0.00,2001-10-27,True,11.0,,,,,,,,,,,
4,NaN,INVALID_FIELD:Failed to deserialize field at c...,35028,0.00,0.00,2001-10-31,True,15.0,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,NaN,INVALID_FIELD:Failed to deserialize field at c...,1615688,0.00,0.00,2017-12-19,True,1.0,,,,,,,,,,,
78,NaN,INVALID_FIELD:Failed to deserialize field at c...,1776435,0.00,0.00,2019-03-20,True,99.0,,,,,,,,,,,
79,NaN,INVALID_FIELD:Failed to deserialize field at c...,1019680,55.65,55.65,2013-03-24,True,15.0,,,,,,,,,,,
80,NaN,INVALID_FIELD:Failed to deserialize field at c...,310928,123.05,123.05,2005-08-19,True,4.0,,,,,,,,,,,
81,NaN,INVALID_FIELD:Failed to deserialize field at c...,378568,98.32,98.32,2006-08-03,True,2.0,,,,,,,,,,,